<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server trial</title>
  </head>
  <body>
    <h1>Welcome to the server trial</h1>
    <img src="/carLogo.svg" alt="" />

    <nav>
      <a href="/"> Blogs</a>
      <a href="/about">About</a>
      <a href="/blogs/create">new Bloq</a>
    </nav>
    <div>
      <h2 class="blogs">all bloqss</h2>
      <% if(blogs.length > 0) {%> <% blogs.forEach(element => { %>
      <h1><%= element %></h1>

      <% }); %> <% } else{ %>
      <p>No bloqs</p>
      <% } %>
    </div>
  </body>
</html>
